<% content_for (:html_title) {'Careers | '} %>
<% content_for (:html_desc) {'The Deepcore is looking for new partnerships to create value. We are eager to speak to traders, merchants, brokers who wish to work in a dynamic environment.'} %>

<div class="hero">
    <img src="/images/career_physical_brokerage.png" alt="Career Physical Brokerage" class="hero__image">
    <div class="hero__content hero__content_padding_100">
        <img src="/images/bg-logo.svg" alt="" class="hero__logo-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero__title hero__title_size_35">
                      <div class="margin-none">
                        <%= html_snippet("careers.main_section.title", "en") %>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-24">
                <div class="section-title">
                    <h2 class="section-title__header">
                      <div class="margin-none">
                        <%= html_snippet("careers.join_tdc_section.title", "en") %>
                      </div>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-24">
              <div class="margin-none">
                <%= html_snippet("careers.join_tdc_section.description", "en") %>
              </div>
                <p>Email Us: <a href="mailto:trading@thedeepcore.com">trading@thedeepcore.com</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-24">
                <div class="section-title section-title_multiple">
                    <h2 class="section-title__header">
                      <div class="margin-none">
                        <%= html_snippet("careers.current_vacancies_section.title", "en") %>
                      </div>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="vacancies">
                    <ul>
                        <% @job_vacancies.each do |job_vacancy| %>
                            <li> <%= job_vacancy.title %></li>
                            <p> <%= job_vacancy.description %></p>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>










<!-- <section class="page-section page-section_bg_gray page-section-linkedin">
        <div class="container">
            <div class="row">
                <div class="col-md-24">
                    <div class="section-title section-title_center">
                        <h2 class="section-title__header">
                            Latest <span>Linkedin Feeds</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section> -->