 <% content_for (:html_title) {'Physical Commodities Brokerage | '} %>
 <% content_for (:html_desc) {'The Deepcore is a group of sugar and soybeans physical brokers, joining their knowledge and network to create one of the best brokerage houses of the market. '} %>
 
 <div class="hero">
        <img src="/images/containers_commodities.jpg" alt="" class="hero__image">
        <div class="hero__content">
            <img src="/images/bg-logo.svg" alt="" class="hero__logo-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hero__title">
                          <div class="margin-none">
                          <%= html_snippet("commodities_brokerage.main_section.title", "en") %></div>
                          </div>
                        <div class="hero__text">
                          <div class="margin-none">
                          <%= html_snippet("commodities_brokerage.main_section.subtitle", "en") %>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--<section class="page-section page-section_padding_30">-->
    <!--    <div class="container">-->
    <!--        <div class="text-with-image">-->
    <!--            <div class="row">-->
    <!--                <div class="col-md-12">-->
    <!--                    <div class="text-with-image__text">-->
    <!--                        <div class="section-title">-->
    <!--                            <div class="section-title__header">-->
    <!--                                The <span>Company</span>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                        <div class="text-with-image__content">-->
    <!--                            <p>We quickly realized that sugar market was just the first step. There are many markets-->
    <!--                                worldwide where traders and-->
    <!--                                brokers still spend the day on the phone trying to figure out where their market is,-->
    <!--                                or try to solve issues which all-->
    <!--                                could be done in only a few minutes.</p>-->
    <!--                            <p>Besides from this, confirmations and contracts process can also be improved in order-->
    <!--                                to reduce to a half second the time-->
    <!--                                needed to confirm the trade, edit all the terms and send it to the different-->
    <!--                                counterparties and to their different-->
    <!--                                middle and back office. With no human imputable mistakes.</p>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="col-md-12">-->
    <!--                    <div class="text-with-image__image">-->
    <!--                        <img src="/images/about-1.jpg" alt="">-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</section>-->

    <section class="page-section page-section_bg_gray">
        <div class="container">
            <div class="text-with-image">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-with-image__image">
                            <img src="/images/physical_sugar_brokerage.png" alt="Physical Sugar Brokerage">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text-with-image__text">
                            <div class="section-title">
                                <div class="section-title__header">
                                  <span><div class="margin-none"><%= html_snippet("commodities_brokerage.sugar_brokerage_section.title", "en") %></div></span>
                                </div>
                            </div>
                            <div class="text-with-image__content">
                                <p>
                                  <span><div class="margin-none"><%= html_snippet("commodities_brokerage.sugar_brokerage_section.subtitle", "en") %></div></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section_bg_gray page-section_padding_30 page-section_padding-bottom_80">
        <div class="container">
            <div class="text-with-image">
                <div class="row"> 
                    <div class="col-md-12">
                        <div class="text-with-image__text">
                            <div class="section-title">
                                <div class="section-title__header">
                                  <span><div class="margin-none"><%= html_snippet("commodities_brokerage.soybeans_brokerage_section.title", "en") %></div></span>
                                </div>
                            </div>
                            <div class="text-with-image__content">
                              <div class="margin-none">
                                <%= html_snippet("commodities_brokerage.soybeans_brokerage_section.subtitle", "en") %>
                              </div>
                                <div class="margin-none-heighlight">
                                  <%= html_snippet("commodities_brokerage.soybeans_brokerage_section.text1", "en") %>
                                </div>
                                <div class="margin-none-yellow">
                                    <%= html_snippet("commodities_brokerage.soybeans_brokerage_section.text2", "en") %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text-with-image__image">
                            <img src="/images/physical_soybeans_brokerage.png" alt="Physical Soybeans Brokerage">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section section-our-products section__special">
        <div class="container">
            <div class="row">
                <div class="col-md-24">
                    <div class="section__special-content">
                        <div class="text-with-image">
                            <div class="row">
                                <div class="col-md-24">
                                    <div class="section-title">
                                        <div class="section-title__header">
                                          <div class="margin-none">
                                           <%= html_snippet("commodities_brokerage.digital_solution_section.title", "en") %>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-with-image__image">
                                        <img src="/images/digital_trading_platform.png" alt="Digital Trading Platform">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="text-with-image__text">
                                        <div class="text-with-image__content">
                                          <div class="margin-none">
                                          <%= html_snippet("commodities_brokerage.digital_solution_section.subtitle", "en") %>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-24">
                                  <div class="black-box-text"><div class="margin-none"><%= html_snippet("commodities_brokerage.digital_solution_section.text_contact", "en") %></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section page-section_bg_gray page-section_padding_30">
        <div class="container">
            <div class="text-with-image">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-with-image__text">
                            <div class="section-title">
                                <div class="section-title__header">
                                  <div class="margin-none">
                                    <%= html_snippet("commodities_brokerage.artificial_intelligence_section.title", "en") %>
                                  </div>
                                </div>
                            </div>
                            <div class="text-with-image__content">
                              <div class="margin-none">
                                <%= html_snippet("commodities_brokerage.artificial_intelligence_section.subtitle", "en") %>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text-with-image__image">
                            <img src="/images/digital_brokerage_solutions.png" alt="Digital Brokerage Solutions">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- <section class="page-section page-section_bg_gray page-section-linkedin">
        <div class="container">
            <div class="row">
                <div class="col-md-24">
                    <div class="section-title section-title_center">
                        <h2 class="section-title__header">
                            Latest <span>Linkedin Feeds</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section> -->