<% content_for (:html_title) {'The Team | '} %>
<% content_for (:html_desc) {'The Deepcore’s team is composed of brokers and a development team. This unique association allows us to create value in any markets.'} %>


<div class="hero">
        <img src="/images/team_physical_brokers.jpg" alt="Team Physical Brokers" class="hero__image">
        <div class="hero__content hero__content_padding_100">
            <img src="/images/bg-logo.svg" alt="" class="hero__logo-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hero__title hero__title_size_35">
                          <div class="margin-none">
                          <%= html_snippet("the_team.main_section.title", "en") %>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="page-section page-section-team">
        <div class="container">
            <div class="row">
                <div class="col-md-24">
                    <div class="team">
                        <div class="row team__section--border"> <!-- Arnaud -->
                            <div class="col-md-8 team__section">
                                <div class="team__image">
                                    <img src="/images/member-1.jpg" alt="Arnaud Lorioz, Founder and CEO">
                                </div>
                            </div>
                            <div class="col-md-16 team__section">
                                <div class="team__title">
                                  <div class="team__title-text"><div class="margin-none"><%= html_snippet("the_team.member.arnaud_title", "en") %></div></div>
                                    <div class="team__social-network">
                                        <div class="team__social-network-item">
                                            <a href="https://www.linkedin.com/in/arnaudlorioz" target="_blank" rel=”noopener noreferrer”><i class="fab fa-linkedin-in"></i></a>
                                            <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="team__text">
                                  <div class="margin-none">
                                    <%= html_snippet("the_team.member.arnaud_description", "en") %>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="row team__section--border"> <!-- Dorian -->
                            <div class="col-md-8 team__section">
                                <div class="team__image">
                                    <img src="/images/member-2.jpg" alt="Dorian Lupu, CTO">
                                </div>
                            </div>
                            <div class="col-md-16 team__section">
                                <div class="team__title">
                                  <div class="team__title-text"><div class="margin-none"><%= html_snippet("the_team.member.dorian_title", "en") %></div></div>
                                  <div class="team__social-network">
                                        <div class="team__social-network-item">
                                            <a href="https://www.linkedin.com/in/dorianlupu" target="_blank" rel=”noopener noreferrer”><i class="fab fa-linkedin-in"></i></a>
                                            <a href="https://twitter.com/DorianLupu" target="_blank" rel=”noopener noreferrer”><i class="fab fa-twitter"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team__text">
                                 <div class="margin-none">
                                   <%= html_snippet("the_team.member.dorian_description", "en") %>
                                 </div>
                                </div>
                            </div>
                        </div>
                        <div class="row team__section--border"> <!-- Ankit -->
                            <div class="col-md-8 team__section">
                                <div class="team__image">
                                    <img src="/images/member-4.jpg" alt="Ankit Kain, Sugar Broker">
                                </div>
                            </div>
                            <div class="col-md-16 team__section">
                                <div class="team__title">
                                    <div class="team__title-text">
                                      <div class="margin-none">
                                        <%= html_snippet("the_team.member.ankit_title", "en") %>
                                      </div>
                                    </div>
                                    <div class="team__social-network">
                                        <div class="team__social-network-item">
                                            <a href="https://www.linkedin.com/in/ankitkain/" target="_blank" rel=”noopener noreferrer”><i class="fab fa-linkedin-in"></i></a>
                                            <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="team__text">
                                  <div class="margin-none">
                                    <%= html_snippet("the_team.member.ankit_description", "en") %>
                                  </div>
                                </div>
                            </div>
                        </div>
                      <div class="row team__section--border"> <!-- Edesio -->
                        <div class="col-md-8 team__section">
                          <div class="team__image">
                            <img src="/images/member-7.jpeg" alt="Edesio Cavalcanti, Soybeans Broker">
                          </div>
                        </div>
                        <div class="col-md-16 team__section">
                          <div class="team__title">
                            <div class="team__title-text">
                              <div class="margin-none">
                                <%= html_snippet("the_team.member.edesio_title", "en") %>
                              </div>
                            </div>
                            <div class="team__social-network">
                              <div class="team__social-network-item">
                                <a href="https://www.linkedin.com/in/edesiomsc/" target="_blank" rel=”noopener noreferrer”><i class="fab fa-linkedin-in"></i></a>
                                <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
                              </div>
                            </div>
                          </div>
                          <div class="team__text">
                            <div class="margin-none">
                              <%= html_snippet("the_team.member.edesio_description", "en") %>
                            </div>
                          </div>
                        </div>
                      </div>
                        <div class="row team__section--border"> <!-- David -->
                            <div class="col-md-8 team__section">
                                <div class="team__image">
                                    <img src="/images/member-5.jpg" alt="David Oks, Digital & Platform Expert">
                                </div>
                            </div>
                            <div class="col-md-16 team__section">
                                <div class="team__title">
                                    <div class="team__title-text">
                                      <div class="margin-none">
                                        <%= html_snippet("the_team.member.david_title", "en") %>
                                      </div>
                                    </div>
                                    <div class="team__social-network">
                                        <div class="team__social-network-item">
                                            <a href="https://www.linkedin.com/in/david-oks-7021232/" target="_blank" rel=”noopener noreferrer”><i class="fab fa-linkedin-in"></i></a>
                                            <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="team__text">
                                  <div class="margin-none">
                                    <%= html_snippet("the_team.member.david_description", "en") %>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="row team__section--border"> <!-- Jules -->
                            <div class="col-md-8 team__section">
                                <div class="team__image">
                                    <img src="/images/member-6.jpg" alt="Jules Domenichini, Investment Banker">
                                </div>
                            </div>
                            <div class="col-md-16 team__section">
                                <div class="team__title">
                                    <div class="team__title-text">
                                      <div class="margin-none">
                                        <%= html_snippet("the_team.member.jules_title", "en") %>
                                      </div>
                                    </div>
                                    <div class="team__social-network">
                                        <div class="team__social-network-item">
                                            <a href="https://www.linkedin.com/in/julesdomenichini/" target="_blank" rel=”noopener noreferrer”><i class="fab fa-linkedin-in"></i></a>
                                            <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="team__text">
                                  <div class="margin-none">
                                    <%= html_snippet("the_team.member.jules_description", "en") %>
                                  </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>









    <!-- <section class="page-section page-section_bg_gray page-section-linkedin">
        <div class="container">
            <div class="row">
                <div class="col-md-24">
                    <div class="section-title section-title_center">
                        <h2 class="section-title__header">
                            Latest <span>Linkedin Feeds</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section> -->